<div id="actions" class="actions row">
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-4">
        <button class="btn-block button button-gray" (click)="myFeaturesDialog();">Load</button>
      </div>
      <div class="col-xs-4">
        <button class="btn-block button button-gray" (click)="saveFeatureDialog()">Save</button>
      </div>
      <div class="col-xs-4">
        <a class="btn-block button button-gray" download="{{feature.name}}.xml" [href]="createXmlHref()">download</a>
      </div>
      <!-- <div class="col-xs-4">
        <button class="btn-block button button-gray" (click)="downloadImages()">download</button>
      </div> -->
    </div>
  </div>
  <div class="col-xs-4">
    <button class="btn-block button button-orange" (click)="getQuote();">Get a Quote</button>
  </div>
</div>
