.full-width {
  width: 100%;
}

.dialog-footer {
  margin-top: 15px;
}

.no-account a {
  font-size: 18px;
  color: #888888;
}

.no-account a:hover {
  color: #cdcdcd;
  text-decoration: underline;
}
