<form class="measurements form-horizontal">
  <div class="form-group">
    <div class="col-sm-12">
      <select class="form-control" (change)="updateSelectedFeature($event.target.value)">
        <option *ngFor="let featureOption of this.feature.features | keys;" [value]="featureOption.name" [selected]="feature.name == featureOption.name ? true : null">{{featureOption.title}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label [for]="feature.width" class="col-sm-2 control-label">Width</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input (change)="updateFeatureMeasurement($event.target.value, $event.target.name)" [(ngModel)]="feature.width" type="text" class="form-control" placeholder="Width" name="width" id="width">
        <span class="input-group-addon">inches</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label [for]="feature.height" class="col-sm-2 control-label">Height</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input (change)="updateFeatureMeasurement($event.target.value, $event.target.name)" [(ngModel)]="feature.height" type="text" class="form-control" placeholder="Height" name="height" id="height">
        <span class="input-group-addon">inches</span>
      </div>
    </div>
  </div>
  <div class="form-group" *ngIf="feature.feature_type==1">
    <label [for]="feature.radius" class="col-sm-2 control-label">Radius</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input (change)="updateFeatureMeasurement($event.target.value, $event.target.name)" [(ngModel)]="feature.radius" type="text" class="form-control" placeholder="Radius" name="radius" id="radius">
        <span class="input-group-addon">inches</span>
      </div>
      <span class="help-block">Must be greater than 1/2 the width</span>
    </div>
  </div>
  <div class="form-group" *ngIf="feature.feature_type==3">
    <label [for]="feature.ceiling_length" class="col-sm-2 control-label">Ceiling Length</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input (change)="updateFeatureMeasurement($event.target.value, $event.target.name)" [(ngModel)]="feature.ceiling_length" type="text" class="form-control" placeholder="Ceiling Length" name="ceiling_length" id="ceiling_length">
        <span class="input-group-addon">inches</span>
      </div>
    </div>
  </div>
</form>

<img src="{{feature?.image}}" alt="{{feature?.type}}" class="img-responsive rendering">
