<div class="row">
  <div class="col-xs-12 design-column-padding-adjust">
    <p class="header">Patterns</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 pattern" (click)="updateSelectedPattern('billow')" [class.selected]="selectedPattern=='billow'">
    <img src="http://images.3-form.com/seeyond/patterns/billow.jpg" alt="" class="img-responsive">
  </div>
  <div class="col-sm-4 pattern" (click)="updateSelectedPattern('court')" [class.selected]="selectedPattern=='court'">
    <img src="http://images.3-form.com/seeyond/patterns/court.jpg" alt="" class="img-responsive">
  </div>
  <div class="col-sm-4 pattern" (click)="updateSelectedPattern('cusp')" [class.selected]="selectedPattern=='cusp'">
    <img src="http://images.3-form.com/seeyond/patterns/cusp.jpg" alt="" class="img-responsive">
  </div>
  <div class="col-sm-4 pattern" (click)="updateSelectedPattern('kink')" [class.selected]="selectedPattern=='kink'">
    <img src="http://images.3-form.com/seeyond/patterns/kink.jpg" alt="" class="img-responsive">
  </div>
  <div class="col-sm-4 pattern" (click)="updateSelectedPattern('tilt')" [class.selected]="selectedPattern=='tilt'">
    <img src="http://images.3-form.com/seeyond/patterns/tilt.jpg" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-sm-12 design-column-padding-adjust">
    <label for="pattern-strength2">Pattern Strength</label>
  <!-- </div> -->
  <!-- <div class="col-sm-7"> -->
    <select name="pattern-strength2" id="pattern-strength2" [value]="patternStrength" (change)="updatePatternStrength($event.target.value)" class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12 design-column-padding-adjust">
    <p class='header'>Materials</p>
  </div>
</div>
<div class="row materials-container">
  <div class="col-sm-4 material tooltip-host" mdTooltip="Burnt Umber" [mdTooltipPosition]="position" (click)="updateSelectedMaterial('burnt_umber')" [class.selected]="selectedMaterial=='burnt_umber'">
    <img src="http://images.3-form.com/seeyond/materials/burnt_umber.jpg" alt="Burnt Umber" class="img-responsive">
  </div>
  <div class="col-sm-4 material tooltip-host" mdTooltip="Cashmere" [mdTooltipPosition]="position" (click)="updateSelectedMaterial('cashmere')" [class.selected]="selectedMaterial=='cashmere'">
    <img src="http://images.3-form.com/seeyond/materials/cashmere.jpg" alt="Cashmere" class="img-responsive">
  </div>
  <div class="col-sm-4 material tooltip-host" mdTooltip="Cast" [mdTooltipPosition]="position" (click)="updateSelectedMaterial('cast')" [class.selected]="selectedMaterial=='cast'">
    <img src="http://images.3-form.com/seeyond/materials/cast.jpg" alt="Cast" class="img-responsive">
  </div>
  <div class="col-sm-4 material tooltip-host" mdTooltip="Dark Gray" [mdTooltipPosition]="position" (click)="updateSelectedMaterial('dark_gray')" [class.selected]="selectedMaterial=='dark_gray'">
    <img src="http://images.3-form.com/seeyond/materials/dark_gray.jpg" alt="Dark Gray" class="img-responsive">
  </div>
  <div class="col-sm-4 material tooltip-host" mdTooltip="Ebony" [mdTooltipPosition]="position" (click)="updateSelectedMaterial('ebony')" [class.selected]="selectedMaterial=='ebony'">
    <img src="http://images.3-form.com/seeyond/materials/ebony.jpg" alt="Ebony" class="img-responsive">
  </div>
  <div class="col-sm-4 material tooltip-host" mdTooltip="Nickel" [mdTooltipPosition]="position" (click)="updateSelectedMaterial('nickel')" [class.selected]="selectedMaterial=='nickel'">
    <img src="http://images.3-form.com/seeyond/materials/nickel.jpg" alt="Nickel" class="img-responsive">
  </div>
  <div class="col-sm-4 material tooltip-host" mdTooltip="Ore" [mdTooltipPosition]="position" (click)="updateSelectedMaterial('ore')" [class.selected]="selectedMaterial=='ore'">
    <img src="http://images.3-form.com/seeyond/materials/ore.jpg" alt="Ore" class="img-responsive">
  </div>
  <div class="col-sm-4 material tooltip-host" mdTooltip="Zinc" [mdTooltipPosition]="position" (click)="updateSelectedMaterial('zinc')" [class.selected]="selectedMaterial=='zinc'">
    <img src="http://images.3-form.com/seeyond/materials/zinc.jpg" alt="Zinc" class="img-responsive">
  </div>
</div>
