<div class="row">
  <div class="col-xs-12 design-column-padding-adjust">
    <p class="header">Patterns</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 pattern">
    <img src="http://images.3-form.com/seeyond/patterns/billow.jpg" alt="" class="img-responsive">
  </div>
  <div class="col-sm-4 pattern">
    <img src="http://images.3-form.com/seeyond/patterns/court.jpg" alt="" class="img-responsive">
  </div>
  <div class="col-sm-4 pattern">
    <img src="http://images.3-form.com/seeyond/patterns/cusp.jpg" alt="" class="img-responsive">
  </div>
  <div class="col-sm-4 pattern">
    <img src="http://images.3-form.com/seeyond/patterns/kink.jpg" alt="" class="img-responsive">
  </div>
  <div class="col-sm-4 pattern">
    <img src="http://images.3-form.com/seeyond/patterns/tilt.jpg" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-sm-3 design-column-padding-adjust">
    <label for="pattern-strength">Pattern Strength</label>
  </div>
  <div class="col-sm-6">
    <input type="range" min="1" max="10" value="1" id="pattern-strength" step="1" class="pattern-strenth-range">
  </div>
    <div class="col-sm-3">
    <input type="text" value="1" id="pattern-strength-input" class="form-control">
  </div>
</div>
<div class="row">
  <div class="col-sm-12 design-column-padding-adjust">
    <p class='header'>Materials</p>
  </div>
</div>
<div class="row materials-container">
  <div class="col-sm-4 material">
    <img src="http://images.3-form.com/seeyond/materials/burnt_umber.jpg" alt="Burnt Umber" class="img-responsive tooltip-host" mdTooltip="Burnt Umber" [mdTooltipPosition]="position">
  </div>
  <div class="col-sm-4 material tooltip-host" mdTooltip="Cashmere" [mdTooltipPosition]="position">
    <img src="http://images.3-form.com/seeyond/materials/cashmere.jpg" alt="Cashmere" class="img-responsive">
  </div>
  <div class="col-sm-4 material tooltip-host" mdTooltip="Cast" [mdTooltipPosition]="position">
    <img src="http://images.3-form.com/seeyond/materials/cast.jpg" alt="Cast" class="img-responsive">
  </div>
  <div class="col-sm-4 material tooltip-host" mdTooltip="Dark Gray" [mdTooltipPosition]="position">
    <img src="http://images.3-form.com/seeyond/materials/dark_gray.jpg" alt="Dark Gray" class="img-responsive">
  </div>
  <div class="col-sm-4 material tooltip-host" mdTooltip="Ebony" [mdTooltipPosition]="position">
    <img src="http://images.3-form.com/seeyond/materials/ebony.jpg" alt="Ebony" class="img-responsive">
  </div>
  <div class="col-sm-4 material tooltip-host" mdTooltip="Nickel" [mdTooltipPosition]="position">
    <img src="http://images.3-form.com/seeyond/materials/nickel.jpg" alt="Nickel" class="img-responsive">
  </div>
  <div class="col-sm-4 material tooltip-host" mdTooltip="Ore" [mdTooltipPosition]="position">
    <img src="http://images.3-form.com/seeyond/materials/ore.jpg" alt="Ore" class="img-responsive">
  </div>
  <div class="col-sm-4 material tooltip-host" mdTooltip="Zinc" [mdTooltipPosition]="position">
    <img src="http://images.3-form.com/seeyond/materials/zinc.jpg" alt="Zinc" class="img-responsive">
  </div>
</div>
