.design-column-padding-adjust {
  padding-left: 5px;
}

.pattern, .material {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}

.pattern img {
  border: 1px solid #cdcdcd;
  cursor: pointer;
}

.material img {
  cursor: pointer;
}

.tooltip-host {
  display: inline-flex;
  align-items: center;
}

.selected img {
  border: 5px solid #f5a01a;
}

.pattern-strenth-range {
  margin-top: 12px;
}

p.header {
  text-transform: uppercase;
  font-weight: 700;
}

label {
  font-weight: 300;
}

.md-slider-horizontal {
  width: 100%;
}

.md-slider-thumb {
  background-color: #cdcdcd;
}
